<html>
  <head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <title>Eye Blink Demonstration</title>

   <script src="http://www.youtube.com/player_api"></script>
  </head>
  <body>
  	<div id="player"></div>

    <h1>Eye Blink Demonstration</h1>
    <!--<img id="bg" src="{{ url_for('video_feed')}}">-->
    <img id = "bg">
    
    
    
  </body>

  <style>
  	#bg {
  		position: absolute;
  		top:0px;
  		left:0px;
  		height:200px;
  		width:200px;
  		z-index:0;
		display:none;
  	}

  	#player {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
  	
  </style>

  <script>
  
  //Hiding after 3 seconds  
		
		
  	// create youtube player
        var player;
		

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
              width: '1400',
              height: '700',
              videoId: '0Bmhjf0rKe8',
              events: {
                onReady: onPlayerReady,
                onStateChange: onPlayerStateChange
              }
            });
        }

        // autoplay video
      function onPlayerReady(event) {		
			console.log(event);
            event.target.playVideo();
			console.log("video played");
      console.log(event.data);

			/*$("#bg").attr("src","{{ url_for('video_feed')}}");
			$("#bg").show();
			setTimeout(function(){
				  $("#bg").hide("slow");
			}, 3000);
			
			 $.ajax({
			  type:'get',
			  url:'/video_feed/',			
			  success: function(data) {
				$("#bg").attr("src","{{ url_for('video_feed')}}");
			  },
			  error: function(error) {
				console.log("Error: " + JSON.stringify(error))
			  }
		   });*/
		
        }

        // when video ends
        function onPlayerStateChange(event) { 
            console.log(event.data);
             if(event.data === 1){
              console.log("video started");

              $("#bg").attr("src","{{ url_for('video_feed')}}");
              $("#bg").show();
              setTimeout(function(){
                  $("#bg").hide("slow");
              }, 3000);
              
               $.ajax({
                type:'get',
                url:'/video_feed',     
                success: function(data) {
                $("#bg").attr("src","{{ url_for('video_feed')}}");
                },
                error: function(error) {
                console.log("Error: " + JSON.stringify(error))
                }
               });


             } 


            if(event.data === 0) {          
                console.log("video finished");

        				//call your function here
        				//var elem = document.getElementById("bg");
        				//elem.remove();
        				 $.ajax({
        					  type:'get',
        					  url:'/vstop',			
        					  success: function(data) {
        						alert("done");
        					  },
        					  error: function(error) {
        						console.log("Error: " + JSON.stringify(error))
        					  }
        				   });
				
            }
        }


  	
  </script>
</html>